In [1]:
import requests

url = 'http://apis.data.go.kr/1360000/MidFcstInfoService/getMidLandFcst'
params ={
    'serviceKey' : 'oGe1AgVe+udbs+DN4zjKKxi6pvPirC2PusUXQ9201uo3pewKRALhq5do9SzsDowchc79+rk7KDXC6Cergxf5dg==',
    'pageNo' : '1',
    'numOfRows' : '10', 
    'dataType' : 'JSON', 
    'regId' : '11H20000', 
    'tmFc' : '202309150600' 
}

response = requests.get(url, params=params)
response.encoding = "UTF-8"
print(response.content)
responseDict = eval(response.content)
print(responseDict)

import pandas as pd
indexList = ["header", "body", "pageNo", "numOfRows", "totalCount"]
df = pd.DataFrame(responseDict, index=indexList, columns=["item", "status"])
df

b'{"response":{"header":{"resultCode":"99","resultMsg":"\xec\xb5\x9c\xeb\x8c\x80 \xec\xa1\xb0\xed\x9a\x8c \xea\xb8\xb0\xea\xb0\x84\xec\x9d\x80 \xec\x98\xa4\xeb\x8a\x98 \xea\xb8\xb0\xec\xa4\x80\xec\x9c\xbc\xeb\xa1\x9c 1\xec\x9d\xbc \xec\xa0\x84\xea\xb9\x8c\xec\xa7\x80\xec\x9e\x85\xeb\x8b\x88\xeb\x8b\xa4."}}}'
{'response': {'header': {'resultCode': '99', 'resultMsg': '최대 조회 기간은 오늘 기준으로 1일 전까지입니다.'}}}

           item status
header      NaN    NaN
body        NaN    NaN
pageNo      NaN    NaN
numOfRows   NaN    NaN
totalCount  NaN    NaN